
html {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Arial, serif;
	background-color: white;
}

body {
	margin: 0;
	padding: 0;
}

#pokemon {
	width: 660px;
	border: 2px dashed gray;
	border-radius: 5px;
	margin: 1em auto 0;
	text-align: center;
	background-color: #C2F7F2;
}

#left {
	position: relative;
	left: 0px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
	transition-duration: .5s;
}

#left:hover {
	left: -5px;
}

#right {
	position: relative;
	left: 0px;
	float: right;
	margin-right: 20px;
	cursor: pointer;
	transition-duration: .5s;
}

#right:hover {
	left: 5px;
}

#sprite {
	clear: both;
}

#types {
	display: inline-block;
	text-align: center;
	padding: 2px 5px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 0 .5em 1em;
	font-size: .7em;
	width: 9%;
}

ul {
	padding: 0 30px;
	margin: 0;
	margin-bottom: 1em;
}

li {
	display: inline-block;
	width: 12%;
	text-align: center;
	padding: .5em;
	border: 1px solid #756969;
	border-radius: 6px;
	margin: 5px;
	background-color: #595959;
	color: white;
}

li p {
	margin: 8px 0 4px;
}

#user-input {
	float: left;
	margin: 2em 0 0 1em;
	padding: 3px 0 3px 20px;
	border: 2px solid #e1e8ed;
	border-radius: 30px;
	font-family: monospace;
	background-color: #F5F8FA;
	font-size: 1.2em;
	width: 11em;
	height: 1.6em;
	transition: background-color 1s;
}

#user-input:focus {
	background-color: white;
	outline: none;
}

::-webkit-input-placeholder {
	color: black;
}

fieldset {
	border: 1px dashed black;
	border-radius: 6px;
	width: 600px;
	margin: 2em auto 0;
}

legend {
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
}

table {
	height: 3em;
	width: 1em;
	background-color: red;
	margin-top: 100px;
}

.hidden {
	display: none;
}

@media screen and (max-width: 1147px) {
	#user-input {
		display: block;
		margin: 1em auto;
		font-size: 1.4em;
		height: 1.4em;
		padding-left:;
		float: none;
	}
}

//
