
html {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	background-color: white;
}

body {
	margin: 0;
	padding: 0;
	height: 650px;
	background: -webkit-linear-gradient(white, #C2F7F2);
	background:    -moz-linear-gradient(white, #C2F7F2);
	background:      -o-linear-gradient(white, #C2F7F2);
	background:         linear-gradient(white, #C2F7F2);
}

#user-input {
	float: left;
	margin: 2em 0 0 1em;
	padding: 3px 0 3px 20px;
	border: 2px solid #e1e8ed;
	border-radius: 30px;
	font-family: monospace;
	background-color: #F5F8FA;
	font-size: 1.2em;
	width: 11em;
	height: 1.6em;
	transition: background-color 1s;
}

#user-input:focus {
	background-color: white;
	outline: none;
}

::-webkit-input-placeholder {
	color: black;
}

#pokemon {
	width: 660px;
	border: 2px dashed gray;
	border-radius: 5px;
	margin: 1em auto 5em;
	text-align: center;
	/*background: linear-gradient(white, #C2F7F2);*/
}

#left, #right {
	position: relative;
	left: 0px;
	cursor: pointer;
	transition-duration: .5s;
}

#left {
	float: left;
	margin-left: 20px;
}

#right {
	float: right;
	margin-right: 20px;
}

#left:hover {
	left: -5px;
}

#right:hover {
	left: 5px;
}

#sprite {
	clear: both;
}

#dex-number {
	margin-bottom: 17px;
}

#entry-name {
	margin-top: 17px;
}

#typing {
	margin-bottom: .3em;
}

#types {
	display: inline-block;
	text-align: center;
	padding: 2px 5px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 0 .5em 1em;
	font-size: .7em;
	width: 9%;
}

ul {
	padding: 0 30px;
	margin: 0;
	margin-bottom: 1em;
}

li {
	display: inline-block;
	width: 12%;
	text-align: center;
	padding: .5em;
	border: 1px solid #756969;
	border-radius: 6px;
	margin: 5px;
	background-color: #595959;
	color: white;
}

li > p {
	margin: 8px 0 4px;
}

#description {
	width: 80%;
	height: auto;
	margin: 0 auto;
}

#description > h1 {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 3px;
}

#description > p {
	width: 70%;
	padding: 5px 8px;
	border: 2px solid #595959;
	border-radius: 30px;
	margin: .5em auto 1em;
	font-style: italic;
	color: black;
	background-color: white;
}

.hidden {
	display: none;
}

@media screen and (max-width: 690px) {
	#pokemon {
		width: 90%;
	}

	#dex-number {
		width: 100%;
	}
}
